*.iml
.gradle
/local.properties
.DS_Store
/captures/
/gradle
/gradlew
/gradlew.bat

.externalNativeBuild

## Temporary Files
*~
.*.swp
.DS_STORE
.gradle/
build/
bin/
target/
obj/
classes/
gen/
gen-external-apklibs/
armeabi/
armeabi-v7a/
arm64-v8a/
Debug/
Release/
ipch/
/dist
*.userprefs
*.sdf
Thumbs.db
/.idea/
/tmp/

## Java

*.class
*.war
*.ear
hs_err_pid*

## Android Studio and Intellij and Android in general
libs/armeabi/
libs/armeabi-v7a/
libs/x86/
.idea/
*.ipr
*.iws
out/
com_crashlytics_export_strings.xml

## Eclipse
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
**/nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml